%h3 
  - if current_user
    Username: 
    = current_user.username

%h2 All Tasks
- unless @tasks.any?
  = "no episodes on this list" 
- else
  = render 'pagelinks', tasks: @tasks
  = render @tasks
  
/ = will_paginate @tasks, :page_links => true, class: 'apple_pagination'
/ %br
/ = render @tasks