%h2 All Episodes
- unless @tasks.any?
  = "no episodes on this list" 
- else
  = render 'pagelinks', tasks: @tasks
  = render @tasks
  
/ = will_paginate @tasks, :page_links => true, class: 'apple_pagination'
/ %br
/ = render @tasks