%h1 Tasks Index

%h2 Unwatched
= no more unwatched episodes unless @un_tasks.any?
= render @un_tasks

/ %h2 Watched
/ = no episodes watched yet unless @do_tasks.any?
/ = render @do_tasks

%h2 All
= will_paginate @tasks, :page_links => true, class: 'apple_pagination'
%br
= render @tasks