$blue: #4479BA;

body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  color: #000;
  background-color: $blue;
  padding: 10px 15px;
}

form .field, form .actions {
  margin: 12px 0;
}

form .buttons {
  width: 60px;
  height: 100%;
  background-color: $blue;
  border: solid 1px #2A4E77;
  color: #FFF; 
}

.race {
  padding: 2px 4px;
  /*line-height: 100%;*/
}

.traverse {
  margin-top: 20px;
}

h1 {
  font-size: 2.00em;
}

h2 {
  font-size: 1.50em;
}

h3 {
  font-size: 1.00em;
}

a,
a:visited {
  color: $blue;
  text-decoration: none;
}

#container {
  max-width: 80%;
  margin: 0 auto;
  border: solid 1px black;
  padding: 5% 10%;
  margin-top: 20px;
  background-color: #FFF;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.25em;
  } 
}

@media screen and (min-width: 660px) {
  h1 {
    font-size: 2.50em;
  }

  h2 {
    font-size: 2.00em;
  }

  h3 {
    font-size: 1.50em;
  }

}