!!!
%html
  %head
    %title RunWatch
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_pack_tag 'hello_vue'
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body
    #container
      %noscript
        %strong We're sorry but RunWatch doesn't work properly without JavaScript enabled. Please enable it to continue.
      %div{:id => 'hello'}
        %app
